<h1>Welcome, <%= @user.name.titleize %>.</h1>

Height: <%= @user.height.nil? ? 0 : @user.height%><br>
Weight: <%= @user.weight.nil? ? 0 : @user.weight %><br>


<h4>Today's Stats:</h4>

Meals: <%= current_user.meals.today.size %>
<br>

<br>
Carbs: 
<% carb_count = 0 %>
<% current_user.meals.today.each do |meal| %>
    <% count = meal.calculate_macros(:carbs)%>
    <% carb_count += count %>
<% end %>
<%= carb_count %>
<br>
Fats: 
<% fat_count = 0 %>
<% current_user.meals.today.each do |meal| %>
    <% count = meal.calculate_macros(:fats)%>
    <% fat_count += count %>
<% end %>
<%= fat_count %>
<br>

Proteins: 
<% protein_count = 0 %>
<% current_user.meals.today.each do |meal| %>
    <% count = meal.calculate_macros(:proteins)%>
    <% protein_count += count %>
<% end %>
<%= protein_count %>
<br>

<br>


Calories Eaten:
<% calorie_count = 0 %>
<% current_user.meals.today.each do |meal| %>
    <% count = meal.calculate_macros(:calories)%>
    <% calorie_count += count %>
<% end %>
<%= calorie_count %>
<br>
Calories Left:
<%= 2000 - calorie_count %>
<br>

<%= link_to 'Edit Profile', edit_user_path %>