<h1>Welcome, <%= @user.name.titleize %>.</h1>

Height: <%= @user.height.nil? ? 0 : @user.height%> cm<br>
Weight: <%= @user.weight.nil? ? 0 : @user.weight %> lbs<br>


<h4>Today's Stats:</h4>

Calories Eaten: <%= current_user.todays_calories %>
<br>
Calories Left: <%= 2000 - current_user.todays_calories %>
<br>
<br>
Meals: <%= current_user.todays_meals.size %>
<br>

<br>
Carbs: <%= current_user.todays_macros(:carbs) %>
<br>
Fats: <%= current_user.todays_macros(:fats) %>
<br>
Proteins: <%= current_user.todays_macros(:proteins) %>
<br>

<br>

<%= link_to 'Edit Profile', edit_user_path %>