<%= collection_select(:food, :food_ids, Food.all, :id, :food) %>
<%= options_from_collection_for_select(@food, :id, :name, params[:id]) %>
  

<ul>
    Foods: <%= @meal.foods.each do |food|%>
    <li><%= food.name %></li>
</ul>

show

<% if current_user.admin %>
  <%= link_to 'Edit meal', edit_meal_path(@meal) %>
<% else %>
  <%= form_for @foodlog do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :meal_id %>
    <%= f.submit "Eat this meal" %>
  <% end %>
<% end %>

nested under meal_id
    <%= form_for @food do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %> <br>
      
      <%= f.submit %>
    <% end %>