<h1>Edit:</h1>

  <%= form_for @meal do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.submit %>
<% end %>


<%= button_to "Delete Meal", meal_path(@meal), method: :delete %>