<ul>
  <li>Name: <%= @meal.name %></li>
  <li>Calories: <%=  %></li>
</ul>

<%= link_to 'Create Meal', new_meal_path(@meal) %>

<% if current_user.admin %>
  <%= link_to 'Edit meal', edit_meal_path(@meal) %>
<% else %>
  <%= form_for @foodlog do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :meal_id %>
    <%= f.submit "Eat this meal" %>
  <% end %>
<% end %>