<h3><%= "#{@meal.name} (#{@meal.short_date})" %></h3>
<%= link_to 'Edit Meal', edit_meal_path(@meal) %>
<br>

 <ul>
    <li>Calories: <%# @meal.foodlogs.exists? ? @meal.meal_macros("calories") : "0" %>
    <%= @meal.foodlogs.exists? ? @meal.calculate_macros : "0" %></li>
    <li>Carbs: <%= @meal.foodlogs.exists? ? @meal.calculate_macros(:carbs) : "0" %></li>
    <li>Fats: <%= @meal.foodlogs.exists? ? @meal.calculate_macros(:fats) : "0" %></li>
    <li>Proteins: <%= @meal.foodlogs.exists? ? @meal.calculate_macros(:proteins) : "0" %></li>
</ul>

<br>

<h4>Food Logs: </h4>
<ul>
 <% @foodlogs.each do |log|%>
    <li><%= log.quantity %>x <%= log.food.name %><%= " - " %><%= link_to "Edit", edit_meal_foodlog_path(@meal, log) %><%= button_to("Delete", foodlog_path(log), method: 'delete' )%></li>
  <% end %>
</ul>


<% if  current_user.meals.include?(@meal) %>

<br>

<%# render '/foodlogs/form' %>

<%= form_for @meal.foodlogs.build do |f| %>
  <%= f.hidden_field :meal_id%>
  <%= f.label :food_id, "Add Food: " %>

  <%= f.collection_select(:food_id, @foods, :id, :name)%> 

  <%= f.number_field :quantity, in: 1..20, step: 1, value: 1 %> <br>

  <%= f.submit %>
<% end %>

<br>

<%= link_to "Create New Food", new_meal_food_path(@meal)%>

<% end %>