<ul>
  <li> Name: <%=  @food.name %> </li>
  <li> Category: <%=  @food.category %> </li>
  <li> Carbs: <%=  @food.carbs %> </li> 
  <li> Proteins: <%=  @food.proteins %> </li> 
  <li> Fats: <%=  @food.fats %> </li> 
  <li> Calories: <%=  @food.calories %> </li> 
</ul>

<%= link_to 'Create Food', new_food_path(@food) %>
<%= button_to "Delete Food", food_path(@food), method: :delete %>