<ul>
<h3><%=  @food.name.titleize %></h3>
  <li> Category: <%=  @food.category %> </li>
  <li> Carbs: <%=  @food.carbs %> </li> 
  <li> Proteins: <%=  @food.proteins %> </li> 
  <li> Fats: <%=  @food.fats %> </li> 
  <li> Calories: <%=  @food.calories %> </li> 
</ul>

<% if  current_user.foods.include?(@food) %>
  <%= link_to 'Edit Food', edit_food_path(@food) %>
<% end %>