<!DOCTYPE html>
<html>
  <head>
    <title>Iaso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

<body>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><%= link_to "#{current_user.name.titleize}'s Profile", user_path(current_user) %></li>
              <li><%= link_to "Meals", user_meals_path(current_user) %></li>
              <li><%= link_to "Foods", foods_path %></li>
              <li><%= link_to "Log Out", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", signup_path %></li>
              <li><%= link_to "Log In", login_path %></li>
              
              <%= button_to "Log in with Google", '/auth/google_oauth2' %>
              
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->

    <!-- content -->
    <% if !!flash[:message] %>
      <div>
        <p><%= flash[:message] %></p>
      </div>
    <% end %>
        <% if flash[:alert] %>
      <div class="field_with_errors"><p><%= flash[:alert] %></p></div>
    <% end %>


    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
